<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [1]:
import pandas as pd
parks = pd.read_csv('nationalpark_visitors.csv')
parks['AreaValue'] = parks['Area'].str.split(pat=' ',expand=True)[0]
parks['State'] = parks['Location'].str.split(pat=',',expand=True)[1]
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Park             72 non-null     object
 1   Location         72 non-null     object
 2   AnnualPassPrice  72 non-null     int64
 3   Area             72 non-null     object
 4   ParkType         72 non-null     object
 5   Visitors2021     72 non-null     int64
 6   Visitors2020     72 non-null     int64
 7   Visitors2019     71 non-null     float64
 8   AreaValue        72 non-null     object
 9   State            72 non-null     object
dtypes: float64(1), int64(3), object(6)
memory usage: 5.8+ KB

1. Convert the `AreaValue` column to `float64`.

In [3]:
## YOUR SOLUTION HERE ##
parks['AreaValue'] = parks['AreaValue'].astype('float')

2. Convert the `State` column to `category`.

In [6]:
## YOUR SOLUTION HERE ##
parks['State'] = parks['State'].astype('category')

3. Call `.info()` to check that your type reassignments worked.

In [7]:
## YOUR SOLUTION HERE ##
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Park             72 non-null     object
 1   Location         72 non-null     object
 2   AnnualPassPrice  72 non-null     int64
 3   Area             72 non-null     object
 4   ParkType         72 non-null     object
 5   Visitors2021     72 non-null     int64
 6   Visitors2020     72 non-null     int64
 7   Visitors2019     71 non-null     float64
 8   AreaValue        72 non-null     float64
 9   State            72 non-null     category
dtypes: category(1), float64(2), int64(3), object(4)
memory usage: 6.5+ KB