<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [1]:
import pandas as pd
parks = pd.read_csv('nationalpark_visitors.csv')
parks.head()

,Park,Location,AnnualPassPrice,Area,ParkType,Visitors2021,Visitors2020,Visitors2019
0,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

1. Calculate the change in visitors from 2019 to 2020 by subtracting `Visitors2019` from `Visitors2020`. Assign the result to a new column `Change2020`.

In [3]:
## YOUR SOLUTION HERE ##
parks['Change2020'] = parks['Visitors2020'] - parks['Visitors2019']

# show output
parks[['Visitors2020','Visitors2019','Change2020']].head()

   Visitors2020  Visitors2019  Change2020
0      12095720    12547743.0   -452023.0
1       3591254     4488268.0   -897014.0
2       3806306     4020288.0   -213982.0
3       2897098     5974411.0  -3077313.0
4       3305199     4670053.0  -1364854.0

2. Create a `PercentChange2020` column by dividing `Change2020` by `Visitors2019` multiplied by `100`.

In [4]:
## YOUR SOLUTION HERE ##
parks['PercentChange2020'] = parks['Change2020'] / parks['Visitors2019']*100
# show output
parks[['Visitors2020','Visitors2019','Change2020','PercentChange2020']].head()

   Visitors2020  Visitors2019  Change2020  PercentChange2020
0      12095720    12547743.0   -452023.0          -3.602425
1       3591254     4488268.0   -897014.0         -19.985750
2       3806306     4020288.0   -213982.0          -5.322554
3       2897098     5974411.0  -3077313.0         -51.508224
4       3305199     4670053.0  -1364854.0         -29.225664

3. Modify the `PercentChange2020` column by rounding the percent values to `2` decimal places.

In [5]:
## YOUR SOLUTION HERE ##
parks['PercentChange2020'] = round(parks['PercentChange2020'], 2)

# show output - we've called .describe() to see an overall picture of the percent change from 2019 to 2020
parks['PercentChange2020'].describe()

count    71.000000
mean    -29.499014
std      28.994767
min     -99.140000
25%     -47.405000
50%     -27.130000
75%     -10.295000
max      25.590000
Name: PercentChange2020, dtype: float64