<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [2]:
import pandas as pd
parks = pd.read_csv('nationalpark_visitors.csv')
parks.head()

,index,Park,VisitorCenterLocation,AnnualPassPrice,Area,ParkType,Year2021,Year2020,Year2019
0,1,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,2,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,3,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,4,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,5,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

1. Rename the columns `Year2021`, `Year2020`, and `Year2019` to `Visitors2021`, `Visitors2020`, and `Visitors2019`, respectively.

In [4]:
## YOUR SOLUTION HERE ##
column_mapper = {
    'Year2021' : 'Visitors2021',
    'Year2020' : 'Visitors2020',
    'Year2019' : 'Visitors2019',
}
parks = parks.rename(mapper = column_mapper, axis = 1)

# show output
parks.head()

,index,Park,VisitorCenterLocation,AnnualPassPrice,Area,ParkType,Visitors2021,Visitors2020,Visitors2019
0,1,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,2,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,3,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,4,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,5,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

2. Drop the `index` column from `parks`

In [5]:
## YOUR SOLUTION HERE ##
drop_columns = ['index']
parks = parks.drop(labels = drop_columns, axis = 1)

# show output
parks.head()

,Park,VisitorCenterLocation,AnnualPassPrice,Area,ParkType,Visitors2021,Visitors2020,Visitors2019
0,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0