<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [12]:
import pandas as pd
parks = pd.read_csv('nationalpark_visitors.csv')
parks.head()

,Park,Location,AnnualPassPrice,Area,ParkType,Visitors2021,Visitors2020,Visitors2019
0,Great Smoky Mountains,"Gatlinburg, TN",40,816.3 sqmi,National park,14161548,12095720,12547743.0
1,Zion,"Springdale, UT",70,229.1 sqmi,National park,5039835,3591254,4488268.0
2,Yellowstone,"Jackson, WY",70,3468.4 sqmi,National park,4860242,3806306,4020288.0
3,Grand Canyon,"Grand Canyon Village, AZ",80,1902.0 sqmi,National park,4532677,2897098,5974411.0
4,Rocky Mountain,"Estes Park, CO",70,414.8 sqmi,National park,4434848,3305199,4670053.0

1. Split the `Area` column to separate the area values and units and assign the values to a new column called `AreaValues`.

In [13]:
## YOUR SOLUTION HERE ##
area_split = parks['Area'].str.split(pat=' ', expand = True)

parks['AreaValues'] = area_split[0]
# show output
parks[['Area', 'AreaValues']].head()

          Area AreaValues
0   816.3 sqmi      816.3
1   229.1 sqmi      229.1
2  3468.4 sqmi     3468.4
3  1902.0 sqmi     1902.0
4   414.8 sqmi      414.8

2. Concatenate the `Park` and `ParkType` columns into a new column called `ParkTitle`. Use a single whitespace (`' '`) separator when combining them.

In [15]:
## YOUR SOLUTION HERE ##
parks['ParkTitle'] =  parks['Park'].str.cat(parks['ParkType'], sep = ' ')

# show output
parks[['Park', 'ParkType', 'ParkTitle']].head()

                    Park       ParkType                            ParkTitle
0  Great Smoky Mountains  National park  Great Smoky Mountains National park
1                   Zion  National park                   Zion National park
2            Yellowstone  National park            Yellowstone National park
3           Grand Canyon  National park           Grand Canyon National park
4         Rocky Mountain  National park         Rocky Mountain National park