<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [24]:
import pandas as pd
vehicles = pd.read_csv('vehicles.csv')
vehicles = vehicles.sort_values(by='year',ascending=False)
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
1940,13107,taycan gts st,2023,auto,porsche,sedan/wagon,electric,dedicated,80.0
718,13106,taycan gts,2023,auto,porsche,sedan/wagon,electric,dedicated,83.0
1663,12836,range rover sport phev,2022,auto,land rover,suv,plug-in hybrid electric,hybrid electric,21.0
1581,12970,r1s,2022,auto,rivian,suv,electric,dedicated,73.0
1597,13018,model y rwd,2022,auto,tesla,suv,electric,dedicated,140.0

1. Use `.loc` to select the first two rows (all 2023 models) and the `manufacturer` column. Assign the result to `manufacturers_2023`.

In [25]:
## YOUR SOLUTION HERE ##
manufacturers_2023 = vehicles.loc[[1940,718],['manufacturer']]

# show output
manufacturers_2023

     manufacturer
1940      porsche
718       porsche

2. Use `.iloc` to select the first two rows (all 2023 models) and the `fuel` column. Assign the result to `fuels_2023`.

In [27]:
## YOUR SOLUTION HERE ##
fuels_2023 = vehicles.iloc[[0,1],[6]]

# show output
fuels_2023

          fuel
1940  electric
718   electric